aniso8601==4.0.1
atomicwrites==1.2.1
attrs==18.2.0
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2018.11.29
chardet==3.0.4
click==6.7
clickclick==1.2.2
colorama==0.4.1
connexion==2.2.0
decorator==4.3.0
Flask==1.0.2
flask-restplus==0.12.1
Flask-SQLAlchemy==2.3.1
gunicorn==19.9.0
idna==2.8
inflection==0.3.1
itsdangerous==0.24
Jinja2==2.10
jsonpath-ng==1.4.3
jsonschema==2.6.0
MarkupSafe==1.0
marshmallow==2.13.1
marshmallow-jsonapi==0.20.3
more-itertools==5.0.0
openapi-spec-validator==0.2.4
pluggy==0.8.0
ply==3.11
py==1.7.0
pytest==4.1.0
pytz==2018.9
PyYAML==3.13
requests==2.21.0
-e git+https://github.com/kurt-hectic/oscar-rest-api.git@273204114e6e09d701d23b8e6699ee13f40597ae#egg=rest_api_oscar
six==1.12.0
soupsieve==1.6.2
SQLAlchemy==1.1.13
urllib3==1.24.1
Werkzeug==0.14.1
wincertstore==0.2
